/* Basic                                                                         */
/* ----------------------------------------------------------------------------- */

body {min-width: 1000px;}

body, input, textarea, select {font-size: 11pt;}

/* Box */


/* Content                                                                       */
/* ----------------------------------------------------------------------------- */

#content {padding: 60px 0;}

/* Sidebar                                                                       */
/* ----------------------------------------------------------------------------- */

body.left-sidebar #content  {margin-left: 14em;}
body.right-sidebar #content {margin-right: 14em;}